In [6]:
# Modules
import os
import csv
import pandas as pd

In [7]:
# Set path for file
csvpath = os.path.join("Resources", "purchase_data.csv")
print(csvpath)

Resources/purchase_data.csv

In [8]:
ls

Homework_heoresofpymoli.ipynb  Resources/

In [10]:
heroes_df = pd.read_csv(csvpath)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [21]:
#Total Number of Player
total_heroes_df = len(heroes_df["SN"].value_counts())
total_heroes_df

576

In [22]:
total_players = pd.DataFrame({"Total Players":[total_heroes_df]})
total_players

   Total Players
0            576

In [37]:
#Purchasing Analysis (Total)


#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue
number_of_unique_items = len((heroes_df["Item ID"]).unique())
average_price = (heroes_df["Price"]).mean()
number_of_purchases = (heroes_df["Purchase ID"]).count()
total_revenue = (heroes_df["Price"]).sum()

#Show table with the values
table1_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
table1_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [42]:
#Gender Demographics

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

gender_stats = heroes_df.groupby("Gender")
total_count_gender = gender_stats.nunique()["SN"]
percentage_of_players = total_count_gender / total_heroes_df * 100
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [44]:
#Purchasing Analysis (Gender)

#The below each broken by gender

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

purchase_count = gender_stats["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [46]:
avg_purchase_price = gender_stats["Price"].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [50]:
purchase_total = gender_stats["Price"].sum()
purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [51]:
avg_purchase_per_person = avg_purchase_total/total_count_gender
avg_purchase_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [52]:
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

In [85]:
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [98]:
#Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
group_names

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [125]:
heroes_df["Age Group"] = pd.cut(heroes_df["Age"],age_bins, labels=group_names)
heroes_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [133]:
age_grouped = heroes_df.groupby("Age Group")
total_count_age = age_grouped["SN"].nunique()
total_count_age

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [134]:
avg_purchase_age= age_grouped["Price"].mean()
avg_purchase_age

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [139]:
purchase_total_age= age_grouped["Price"].sum()
purchase_total_age

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [141]:
avg_purchase_per_person_age = avg_purchase_age/total_count_age
avg_purchase_per_person_age

Age Group
<10      0.197263
10-14    0.134383
15-19    0.028373
20-24    0.011830
25-29    0.037675
30-34    0.056375
35-39    0.116184
40+      0.245128
dtype: float64

In [143]:
age_demographics = pd.DataFrame({"Purchase Count Age": total_count_age, 
                                "Average Purchase Price Age": avg_purchase_age,
                                "Total Value Age":purchase_total_age,
                                "Avg Purchase Total per Person Age": avg_purchase_per_person_age})
age_demographics.style.format({"Total Value Age":"${:,.2f}",
                                  "Average Purchase Price Age":"${:,.2f}",
                                  "Avg Purchase Total per Person age":"${:,.2f}"})

In [147]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

# Group purchase data by screen names
spender_stats = heroes_df.groupby("SN")
spender_stats

In [150]:
count_spender = spender_stats["Purchase ID"].count()
count_spender

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [151]:
avg_purchase_price_spender = spender_stats["Price"].mean()
avg_purchase_price_spender

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [152]:
purchase_total_spender = spender_stats["Price"].sum()
purchase_total_spender

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [153]:
top_spenders = pd.DataFrame({"Purchase Count": count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [157]:
#Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

popular_items = heroes_df[["Item ID", "Item Name", "Price"]]
popular_items

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [158]:
popular_item_stats = popular_items.groupby(["Item ID","Item Name"])
popular_item_stats

In [159]:
purchase_count_item = popular_item_stats["Price"].count()
purchase_count_item

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [166]:
purchase_value = (popular_item_stats["Price"].sum()) 
purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [168]:
item_price = purchase_value/purchase_count_item
item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [181]:
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value}

most_popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [189]:
popular_format = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_format

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [199]:
#Most Profitable Items

#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

Most_Profitable_Items = most_popular_items.sort_values("i", ascending=False)
Most_Profitable_Items = most_popular_items.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

Most_Profitable_Items.head(5)

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4      1.2800                  5.12
1       Crucifer                         4      2.9425                 11.77
2       Verdict                          6      2.4800                 14.88
3       Phantomlight                     6      2.4900                 14.94
4       Bloodlord's Fetish               5      1.7000                  8.50