In [50]:
web={
    'header':'header.html',
    'footer':'footer.html',
    'content':''
}

In [51]:
def readfile(filename:str):
    """
    takes in a file name and reads it
    """
    with open(filename, "r") as file_handle:
        file_contents = file_handle.read()
        return file_contents
    
    def create_index(filename:str,filecontent:str):
        with open (filename, "w") as file_handle:
            file_handle.write(filecontent)

In [52]:
header_content=readfile(web['header'])
footer_content=readfile(web['footer'])
web['content']=df.to_html(index=False,table_id='sales')
index_content=header_content+web['content']+footer_content
create_index('index.html',index_content)

NameError: name 'create_index' is not defined

In [28]:
header_content=readfile(web['header'])
print(header_content)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Web Page</title>
</head>
<body>

</body>
</html>

kuahsdgkasjh

In [29]:
footer_content=readfile(web['footer'])
print (footer_content)

</body>
</html>

In [30]:
import pandas as pd
import random as r

In [31]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
x=list(range(1,11))
y=[r.randint(1,100) for i in x]
data={
    'x':x,
    'y':y
}

In [33]:
df=pd.DataFrame(data)

In [34]:
df

    x   y
0   1  74
1   2  30
2   3  96
3   4   8
4   5  46
5   6  51
6   7  54
7   8   8
8   9  20
9  10  77

In [35]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>74</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>96</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>46</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>51</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>54</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>77</td>\n    </tr>\n  </tbody>\n</table>'

In [48]:
web['content']=df.to_html(index=False,table_id='Sales')

In [37]:
web['content']

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>74</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>96</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>46</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>51</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>54</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>77</td>\n    </tr>\n  </tbody>\n</table>'

In [38]:
index_content=header_content+web['content']+footer_content

In [39]:
index_content

'<!DOCTYPE html>\n<html lang="en">\n<head>\n    <meta charset="UTF-8">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <title>Github Web Page</title>\n</head>\n<body>\n    \n</body>\n</html>\n\nkuahsdgkasjh<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>74</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>96</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>46</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>51</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>54</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>77</td>\n    </tr>\n  </tbody>\n</table></body>\n</html>'